<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">

    <title>Project MAZE</title>
    
    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
  
    <!-- Marker cluster JavaScript code -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>

    <!-- Marker cluster CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/style_map.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/style.css')}}">

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.4.1.min.js"></script>
  </head>
  <body>
  <div class="container">
      <nav class="navbar   navbar-expand-lg navbar-light bg-light">
      
        <a class="navbar-brand" href="#">MAZE {{testvat}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
          </ul>
        </div>
      
      </nav>
    <form method='post' action='/dashboard' id='myform'>  
      <!-- ////////////////////////////////////////// -->
    <div class="row justify-content-center container_bg_color">
      <div class="col-lg-12 col-md-12 col-sm-12">
  
        <div class="hstack gap-3">

          <div>
            
            <select id="SelState" name="SelState" class="form-select" aria-label="Default select example">
            <option value="">USA</option>
  
              {% for state in state_list %}
              {%if sel_state == state.state_fips|string %}
              <option value={{state.state_fips}} selected>{{state.sname}}-{{state.sabbr}}</option>
              {% else %}
              <option value={{state.state_fips}}>{{state.sname}}-{{state.sabbr}}</option>
              {%endif%}
              {% endfor %}
            
            </select>
          </div>
          
          <div>
            <select id="SelCounty" name="SelCounty" class="form-select" aria-label="Default select example">
              <option value="">Select County</option>
              {% for county in county_list %}
              {%if sel_county == county.county_fips|string %}
              <option value={{county.county_fips}} selected>{{county.county}}</option>
              {% else %}
              <option value={{county.county_fips}}>{{county.county}}</option>
              {%endif%}
              {% endfor %}
            </select>
           
          </div>
        
  
        <div>
          <select id="SelCity" name="SelCity" class="form-select" aria-label="Default select example">
            <option value="">Select City</option>
            {% for city in city_list -%}
            {%- if sel_county !="" and sel_city == city.city_phyloc %}
            <option value='{{city.city_phyloc}}'selected>{{city.city_phyloc}}</option>
            {% else %}
            <option value='{{city.city_phyloc}}'>{{city.city_phyloc}}</option>
            {%endif%}
            {%- endfor %}
          </select>
        </div>
        
        
        <!-- <div> 
          <select id="SelType" name="SelType" class="form-select" aria-label="Default select example">
          <option value="">Categories</option>

            {% for mtype in mus_types %}
            <option value={{mtype.museum_type_id}}>{{mtype.museum_type}}</option>
            {% endfor %}
          
          </select>
        </div>   -->

        </div>
        
  
      </div>
    </div>
    </form>  
    <!-- ////////////////////////Dashborad PlOT 1 BAR/////////////////////////////// -->
    <div class="row justify-content-center container_plot">
      <div class="col-lg-12 col-md-12 col-sm-12">
      <div id="plot"></div>
      </div>
      </div>
      <!-- ////////////////////////Dashborad PlOT 1 BAR/////////////////////////////// -->
  </div>

    <!-- ////////////////////////Dashborad Leaflet 1 /////////////////////////////// -->
    <br /><br />
    <div id="map_cont" style="align-items: center;">
      
      <center>  
        
        <!-- <input type="checkbox" id="mtype" name="mtype" value='1' > --> <img src="https://img.icons8.com/ios-filled/100/000000/archeology.png" alt="HISTORY MUSEUM" title="HISTORY MUSEUM" width="1%">
        HISTORY MUSEUM
        &nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <input type="checkbox" id="mtype" name="mtype" value='2'> --><img src="https://img.icons8.com/ios-glyphs/96/000000/plant-under-sun.png" width="1%" alt="ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER" title="ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER"> 
        ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER
        &nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <input type="checkbox" id="mtype" name="mtype" value='3'> --><img src="https://img.icons8.com/ios-glyphs/90/000000/planet.png" width="1%" alt="SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM" title="SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM"> 
        SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM
        &nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <input type="checkbox" id="mtype" name="mtype" value='4'> --><img src="https://img.icons8.com/metro/100/000000/quill-with-ink.png" width="1%" alt="HISTORIC PRESERVATION" title="HISTORIC PRESERVATION"> 
        HISTORIC PRESERVATION
        &nbsp;&nbsp;&nbsp;&nbsp; <br />
        <!-- <input type="checkbox" id="mtype" name="mtype" value='5'> --><img src="https://img.icons8.com/ios-glyphs/90/000000/museum.png" width="1%" alt="GENERAL MUSEUM" title="GENERAL MUSEUM">
        GENERAL MUSEUM
        &nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <input type="checkbox" id="mtype" name="mtype" value='6'> --><img src="https://img.icons8.com/ios-filled/100/000000/harambe-the-gorilla.png" width="1%" alt="ZOO, WILDLIFE CONSERVATION" title="ZOO, WILDLIFE CONSERVATION"> 
        ZOO, WILDLIFE CONSERVATION
        &nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <input type="checkbox" id="mtype" name="mtype" value='7'> --><img src="https://img.icons8.com/ios-glyphs/90/000000/paint-palette--v1.png" width="1%" alt="ART MUSEUM" title="ART MUSEUM">
        ART MUSEUM
        &nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <input type="checkbox" id="mtype" name="mtype" value='8'> --><img src="https://img.icons8.com/ios-glyphs/100/000000/children.png" width="1%" alt="CHILDREN'S MUSEUM" title="CHILDREN'S MUSEUM"> 
        CHILDREN'S MUSEUM
        &nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <input type="checkbox" id="mtype" name="mtype" value='9'> --><img src="https://img.icons8.com/ios-glyphs/120/000000/dinosaur--v2.png" width="1%" alt="NATURAL HISTORY MUSEUM" title="NATURAL HISTORY MUSEUM"> 
        NATURAL HISTORY MUSEUM
        &nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <input type="checkbox" id="mtype" name="mtype" value='10'> --><img src="https://img.icons8.com/ios-filled/100/000000/seahorse.png" width="1%" alt="AQUARIUM" title="AQUARIUM"> 
        AQUARIUM
        
        
      </center>

    <div id="map"></div>
  </div>

<!-- ////////////////////////Dashborad Leaflet 1 ends/////////////////////////////// -->
<div class="container">
<!-- ////////////////////////Dashborad PlOT 2 /////////////////////////////// -->
<!-- <div class="row justify-content-center container_plot">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div id="plot_pie"></div>
  </div>
</div> -->
  <!-- ////////////////////////Dashborad PlOT 2 ends/////////////////////////////// -->
<!-- ////////////////////////Dashborad PlOT 2 /////////////////////////////// -->
<div class="row justify-content-center container_plot">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div id="plot_revenue"></div>
  </div>
</div>
<!-- ////////////////////////Dashborad PlOT 2 ends/////////////////////////////// -->  
</div>
<br />
<!-- ////////////////////////Dashborad Leaflet 2 /////////////////////////////// -->
<div id="map_cont" style="align-items: center;">
  <center><H3>Composition of Museums Across USA</H3></center>
  <br />
<div id="map2"></div>
</div>
<!-- ////////////////////////Dashborad Leaflet 2 /////////////////////////////// -->



    <!-- Our JavaScript -->
    <script type="text/javascript" src="{{url_for('static',filename = 'js/data.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename = 'js/app.js')}}"></script>
    

    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
  
    <script type='text/javascript'> 
      $(document).ready(function(){
        $('#SelState').change(function(){
          $('#SelCounty').val('');  
          $('#SelCity').val('');  
          // Call submit() method on <form id='myform'>
          $('#myform').submit();
        });
        $('#SelCounty').change(function(){
          // Call submit() method on <form id='myform'>
            
          $('#myform').submit();
        });
  
        $('#SelCity').change(function(){
          // Call submit() method on <form id='myform'>
  
          $('#myform').submit();
        });
  
      });
    </script>
  
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
      
    </body>
  </html>